*{
    margin: 0;
    padding: 0;
    
    /*border box scales the entire element including padding and margins while content box will add padding and margins to the 
    content box*/
    box-sizing: border-box;
    color:#fff;
}


img {
    border-radius: 40px;
}


body {
    font-family: 'Inter', sans-serif;
    background: #101010;
    margin: 0;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    cursor: url('../images/portfolio cursor.png') 16 16, auto;
    
}

a:-webkit-any-link {
    cursor: url('../images/hover cursor.png') 16 16, auto;
    text-decoration: none;
    transition: color 0.5s ease;
    color: #ffffff;
}


p a {
    text-decoration: none;
    color: #ffffff;
}
.text-contain a {
    font-weight: bold;
    color: #A284F9;
    text-decoration: underline;
}

h1 {
    font-weight: 900;
    font-size: 90px;
}
p, li {
    font-size: 20px;
    line-height: 2;
    opacity: 85%;
    font-weight: 400;
    color: rgba(255,255,255,.8);
    
}

.row {
    display: flex;
    flex-direction: row;
}
/* divider */
.solid-contain {
    padding: 15vh 0;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* other containers */
.current-contain{
    border-radius: 40px;
    background-color: rgba(255,255,255,0.05);
    padding: 2em;
    margin: 2em 0;
    display: flex;
    justify-content: left;
}
.current-contain .row {
    align-items: center;
}
.current-contain p {
    margin-left: 2em;
}
.current-contain .emoji-contain {
    margin: 0;
}
/* infinite scroll */
.infinite-contain {
  height:8vh;
  overflow:hidden;
  display: flex;
  align-items: center;
  
  padding: 2em 0;
  background-color: #A284F9;
}

.tech-stack {
    display: flex;
    justify-content: space-between;
    
}
.tech-stack .images-contain {
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex;
}
.tech-stack img {
    width: 5em;
    border-radius: 0;
    z-index: 1000;
    margin-right: 3em;
}
.tech-stack img:hover {
    animation: hoverFloat 2s ease-in-out;
}
.row1, .row2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 2vw 0;
}

.infinite-cards {
    left: 100%;
    width: auto;
    position:absolute;
    
    white-space: nowrap;
  	animation: scroll 40s linear infinite;
}
.infinite-cards span {
    color:#fff;
    font-size: 22px;
    font-weight: 600;
    padding-right: 1em;
}

.infinite-cards2 {
    animation-delay: 25s;
}
@keyframes scroll {
    0% { left:100%;}
    100% { left: -100%; }
}


.center p {
    text-align: center;
}

p a:link, a:visited,
.text-contain .callout a {
    color: #ffffff;
    text-decoration: underline;
    font-weight: 600;
}

.arrow {
   margin-top: 1.5vh;
}

.parallax {
    position: sticky;
    overflow-y: auto;
    height: 100vh;
    overflow-x: hidden;
}
/* icons */
.icons-contain {
    width: 80vw;
    height: auto;
    animation: float 8s ease-in-out infinite;
}
.icons-contain p{
    text-align: center;
    font-size: 10px;
    line-height: 15px;
    width: 12em;
 
}
.icons-contain i{
    
    margin-top: .25em;
    color:rgba(255,255,255,.10);
    font-size: 3em;
    cursor: url('../images/hover cursor.png') 16 16, auto;
    transition: color .5s ease, text-shadow .5s ease;
}

.icons-contain div {
    position: absolute;
    
}
.icons-contain a {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.icons-contain i:hover, .scroll-down i:hover {
    text-shadow: 0 0 50px #A284F9;
    color: #A284F9;
    transform: 2s;
}
.scroll-down {
    align-items: center;
    display: flex;
    margin-top: 20vh;
}
.scroll-down i {
    color: #fff;
    font-size: 2em;
    cursor: url('../images/hover cursor.png') 16 16, auto;
    transition: color .5s ease, text-shadow .5s ease;
    animation: slowfloat 2s ease-in-out infinite;
}

/* float animation */ 

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-1em) translatex(-1em);
    }
    100% {
        transform: translatey(0px);
    }
}
@keyframes slowfloat {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-.5em);
    }
    100% {
        transform: translatey(0px);
    }
}

/* button */


.btn {
    background-color: #A284F9;
    padding: 17px 30px;
    border-radius: 15px;
    transition: background-color 1s ease;
    /* border-width: 3px;
    border-color:#A284F9;
    border-style: solid; */
}


.btn:hover {
    background-color: #fff;
}

/* buttons not in nav */

.btn-new a:link, .btn-new a:visited {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

.btn a:hover::after {
    width: 100%;
    background: #A284F9;

}

.btn-new:hover a {
    color:#A284F9;
}

.btn-new a::after {
    content: '';
    width: 0;
    height: 4px;
    background: #A284F9;
    /* fixes objects in place */
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

/* line divider */
.solid {
    border: 1px solid rgba(255,255,255,.15);
    
}


/* vertical dotted line  */
.vertical {
    border-left: 4px dotted rgba(255,255,255,.8);
    height: 50px;
    border-spacing: 100px;
    margin-left: 15px;
}

/* add a cool rounded border to highlight sections */
.callout {
    background-color:rgba(255,255,255,0.05);
    border-radius: 40px;
    padding: 2vw;
    margin: 2vw 0;
    min-width: 30vw;
}
.callout .emoji-contain {
    margin-right: 2em;
    
}

#header {
    width: 100%;
    height: 100vh;
    /* background-image: url(images/jasmine\ wu\ avatar.svg);
    transition: background-image 2s ease-in-out; */
    background-size: cover;
    background-position: right;
    background-color: #101010;
    
}

/* nav bar */
nav {
    display: flex;
    align-items: center;
    position: sticky;
    justify-content: space-between;
    flex-wrap: nowrap;
    top: 0;
}
.nav-container {
    padding: 4vh 20vh 2vh 20vh;
    position: fixed;
    top: 0;
    background-color: rgba(16, 16, 16, 0.75);
    z-index: 3;
    width: 100vw;
}

.nav-container img{
    cursor: url('../images/hover cursor.png') 16 16, auto;
    border-radius: 0;
}

.nav-container.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul li a#active {
    border-top: #ffffff solid 4px;
    padding-top: 10px;
    opacity: 1;
    border-radius: 100;
}

/* responsive nav */
.toggle-button {
    color:#fff;
    font-size: 30px;
    cursor: url('../images/hover cursor.png') 16 16, auto;
    transition: color 0.5s ease;
    display: none;
}
.toggle-button:hover {
    color:#A284F9;
}
.dropdown-nav {
    background-color: #101010;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    height: 0;

    position: sticky;
    overflow: hidden;
    transition: height 0.3s ease;
    
    width: 100vw;
    margin: auto;
    z-index: 1000;
    color: #fff;
    top: 80px;
    
   
}
.dropdown-nav li {
    list-style: none;
    margin: 2vh;
}
.dropdown-nav .btn {
    padding: 17px 80px;
}
.dropdown-nav a:hover {
    color:#A284F9;
}
.dropdown-nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    
    transition: color 0.3s ease;

}
.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.text-contain .row .column {
    margin-right: 2vw;
    margin-top: 4vw;
}
.dropdown-nav.open {
    height: 100vh;
    width: 100vw;
    margin: auto;
    padding-top: 20vh;
}




.head-contain {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 120vh;
    flex-direction: column;
    /* margin: auto 70vh auto 30vh; */
    color: #fff;
}

nav ul li {
    /* creates horizontal alignment */
    display: inline-block;
    /* removes bullet points */
    list-style: none;
    padding: 5px 20px;
}

nav ul li a:link, nav ul li a:visited {
    color: #fff;
    opacity: .5;
    cursor:  url('../images/hover cursor.png') 16 16, auto;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    font-weight: 500;
    transition: opacity .5s ease-in-out;
}

nav ul li a:hover {
    opacity: 1;
}
/* for the underline feature */
nav ul li a p::after {
    content: '';
    width: 0;
    height: 4px;
    background: #A284F9;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
/* underline feature */
nav ul li a:hover::after{
    width: 100%;
    background: #A284F9;
}

.header-text {
    align-items: center;
    /* paragraph font */
    font-size: 28px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    
}

.header-text h1 span {
    background-color:#A284F9;
    font-style: italic;
    padding: 2px 10px;
}
.avatar2 img {
    height: 600px;
    margin-left: -60px;
    align-items: center;
    display: none;
    margin-top: 2vh;
}

p.black {
    font-weight: 900;
}

.type-container{
    width: 100%;
    height: 30vh;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.type-container p {
    margin-top: 1em;
}

.type-container h1, .header-text h1{
    font-size: 70px;
    color: #fff;
    margin-top: 10px;
    text-align: center;
    
}

/* .wrapper .dynamic-txts{
    margin-left: 15px;
    line-height: 90px;
    height: 90px;
    background:#1C1E2B;
    overflow: hidden;
}
.dynamic-txts li h1{
    color:#A284F9;
    list-style: none;
    font-size: 60px;
    position: relative;
    top: 0;
    animation: slide 6s steps(4) infinite;
}

@keyframes slide {
    100%{
        top: -360px;
    }
    
}
.wrapper {
    display: inline-flex;
}
.dynamic-txts li span{
    position: relative;
}
.dynamic-txts li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid #454a67;
    background:#1C1E2B;
    padding: 10px;
    /* steps= word length 
    animation: typing 1.5s steps(9) infinite;
} */

@keyframes typing {
    100%{
        left: 100%;
        /* margin: 0 -35px 0 35px; */
        margin: 0 -3.5vh 0 3.5vh;
    }
} */

/*---------------- about section --------------------*/

.listen-contain {
    display: flex;
    justify-content: flex-start;
}
.listen-contain .column {
    align-items: center;
    justify-content: flex-start;
    margin: 0 2em;
    width: 15vw;
}
.listen-contain .subsubsub-title,
.listen-contain p {
    text-align: center;

}
.listen-contain .subsubsub-title {
    font-size: 30px;
}
.listen-contain img {
    width: 30vh;
    height: 30vh;
}
.song-contain {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 4vh;
    align-items: center;
}

.row {
    /* content is side by side */
    display: flex;
    height: auto;
    justify-content: center;
    flex-direction: row;

}
.contain {
    scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
    /* padding: 15vh 10vh; */
    
}

.child{
    padding: 10vh 20vh;
    scroll-snap-align: start;
}

/* scroll section */

.scroll-section {
    position: sticky;
    height: 100vh;
    background-color: #101010;
    display: flex;
    justify-content: center;
    padding: 40px 14%;
    top: 50px;
}

.about-col-1 {
    flex-basis: 50%;
    height: auto;
    top: 0;
    justify-content: center;
    align-items: center;
    order: 2;
}

.sticky {
    position: sticky;
    top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-col-1 img {

    border-radius: 40px;
    max-width: 83.8vh;
    width: auto;
    height: 85vh;
    transition: box-shadow .2s ease;
    
}
.about-col-1 img:hover {
    box-shadow: 0 3px 15px rgba(255, 255, 255, 0.3);
}


.about-col-2 {
    flex-basis: 50%;
    margin-right: 15vh;
    height: auto;
    order: 1;
    
  }

.sub-title{
    font-size: 60px;
    font-weight: 900;

}

.subsub-title{
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 2vh;
   
}

.subsubsub-title{
    font-size: 36px;
    font-weight: 900; 
    line-height: 54px;
}

.subsub-title span,
.section-header span {
    background-color:#A284F9;
    font-style: italic;
    font-size: 60px;
    color: #fff;
    padding: 2px 10px;
}






/* portfolio section */
#portfolio {
    flex: auto;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 40px;
    position: relative;
    overflow:hidden;
    display: block;
    transition: box-shadow 2s ease;
}

.work img{
    width:100%;
    height:auto;
    border-radius: 20px;
    display: block;
}


.layer {
    width: 100%;
    height: 100%;
    background-color: rgba(28, 30, 43, 0.7);
    position:absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.layer h1{
    font-size: 25px;
    color:#fff;
   
    top: 50px;
    left:0;
    right:0;
    z-index: 2;
}
.layer p{
    
    color:#fff;
    font-size: 16;

}

.work:hover .layer{
    opacity: 1;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    
}
.work:hover {
    box-shadow: 0 3px 15px rgba(255, 255, 255, 0.3);
}

/* motto section */
#motto {
    background-color: #101010;
    
}
.motto-contain {
    align-items: center;
    justify-content: center;
    display: flex;
}
#motto p {
    text-align: center;
    color: #fff;
    opacity: .6;
}
#motto img {
    width: 60vw;
}
/* about me page */
.about-row {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
#intro {
    margin-top: 10vw;
}
/* contact */
#contact{
    padding: 6vh 3vh 2vh 3vh;
    color: #fff;
    background-color: #101010;
    
}

#contact .container .row {
    flex-direction: row;
    display: flex;
    justify-content: center;
}
#contact h1{
    font-size: 20px;
    line-height: 30px;
}
#contact p {
    color: #fff;
    font-size: 16px;
}

.contact-left{
    flex-basis: 35%;
    padding: 2vh;
    
}
#contact img{
    max-width: 230px;
    max-height: 230px;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2vh;
}
.contact-mid{
    flex-basis: 30%;
    display: inline-block;
    padding: 2vh;
    
}
.contact-mid p ,
.contact-right p {
    color:#fff;
}

.contact-right{
    display: inline-block;
    width: 30vh;
    padding: 2vh;
}

.contact-mid p i{
    color:#fff;
    margin-left: 30px;
}

.contact-mid a:link, .contact-mid a:visited {
    color: #fff;
    text-decoration: none;
    font-weight: 200;
    
}

.social-icons{
    display: flex;
    cursor: url('../images/hover cursor.png') 16 16, auto;
    padding: .5em 0;
}
.social-icons img {
    border-radius: 0;
}
.social-icons img:hover {
    animation: hoverFloat .3s ease-in-out;
    color: #454a67;
    border-radius: 100;
}

.icon{
    filter: brightness(0%) invert(100%);
    height:20px;
    width:auto;
    margin: 5px 18px 0 0;
}

.subp{
    font-weight: 200;
    font-size: 14px;
}


/* portfolio project sections */

.header-image {
    display: flex;
    justify-content: center;
    top: 7vw;
    position: relative;
}
.header-image img {
    /* width: 100vw; */
    height: 100%;
    width: 100%;
    border-radius: 0;
    
}
#section {
    padding: 5vh 30vh;
    background: #101010;
    flex: auto;
    position: relative;
    overflow: hidden;
    
}
#section img {
    width: 100%;
    height: auto;
}
#section .container {
    padding: 7vh 0;
}
.inner-img {
    margin: 10vh 0;
}


.section-header h1{
    margin-bottom: 20px;
    font-size: 60px;
    text-align: left;
    
}
.section-header .text-contain .row .column p{
    text-align: left;
    font-size: 18px;
}
.section-header .text-contain .row .column {
    justify-content: flex-start;
}
.section-header .text-contain .row {
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
}

.section-header p{
    opacity: 75%;
    text-align: center;
    

}

.portfolio-content p{
    font-size: 22px;
}

.portfolio-content img{
    align-items: center;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}


.image-contain img{
    align-items: center;
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 40px 0;
}

.video-contain {
    align-items: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 10vh;
}
.video-contain iframe {
    width: 70vw;
    height: 40vw;
}

.text-contain {
    align-items: left;
    text-align: left;
    color: #454a67;
    margin: 0 auto;
    
}

.long-contain {
    padding: 20px 0;
}

.long-contain img {
    max-width: 100%;
    max-height: 100em; /* Adjust the desired height as needed */
    width: auto;
    height: auto;
}
.text-contain-color {
    align-items: left;
    text-align: left;
    color: #fff;
    
    margin: 0 auto;
    
}
.text-contain-color p{
    font-size: 22px;
}
.text-contain p{
    font-size: 22px;
}

.text-contain ol {
    padding-left: 50px;
}
 .text-contain ol li{
    font-size: 22px;
    color:rgba(255,255,255,.8);
    opacity: 85%;
    line-height: 2;
    
}

.color-contain {
    align-items: left;
    text-align: left;
    background-color: #101010;
    padding: 0;
    padding: 30px 10vh;
    
}
.color-contain p,
.color-contain ul li {
    color: #fff;
    font-size: 22px;
    line-height: 2;
    opacity: 85%;
    font-weight: normal;

}
#column-contain{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: top;
    overflow: hidden;
    margin: 0 auto;
    padding: 30px 0;
    
}

.col1 {
    width: 300px;
    float: left;
    margin-right: 20px;
    color:#A284F9;
}
.col1 .row {
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
}
.col1 .row .column{
    justify-content: flex-start;
    margin: 0 2vh;
}

.col2 {
    width: 600px;
    float: left;
    flex-basis: 60%;
}



.sec1, 
.sec2 {
    display: contents;
}

/* content tag */
#pins {
    margin: 5vh 0vh;
}
.pins-contain {
    border-radius: 40px;
    padding: 5vh;
    background-color: rgba(255,255,255,0.05);
    /* width: 60vh;
    height: 48vh; */
    padding: 6vh;
    width: 38vw;
    height: auto;
    transition: box-shadow .2s ease;
    margin: 2vh 0;
}
.pins-contain li {
    margin-left: 6vh;
}
.pins-contain:hover {
    box-shadow: 0 3px 15px rgba(255, 255, 255, 0.3);
}
#pins .row {
    justify-content: space-between;
    display: flex;
}
.pins-contain ul li a {
    font-size: 18px;
    color:rgba(255,255,255,.8);
    line-height: 2;
    text-decoration: underline;
}
.pins-contain .subsubsub-title {
    color:rgba(255,255,255,.8);
    margin-bottom: 3vh;
}
/* use for all containing a header and a paragraph underneath */
.head-text-contain {
    margin-bottom: 10vh;
}
.emoji-contain {
    padding: 5vh;
    background-color: rgba(255,255,255,0.05);
    border-radius: 15px;
    margin-bottom: 3vh;
    width: 8vh;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.emoji-contain h1 {
    font-size: 40px;
    margin: 0;
}

/* hover float animation */
@keyframes hoverFloat {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-3px);
    }
    90% {
        transform: translatey(0px);
    }
    100% {
        
        transform: translatey(-1px);
    }
}


/* container columns and grids */

.col-reg1 {
    width: 50%;
    float: left;
    padding-right: 60px;
    flex-wrap: wrap;
}

.col-reg2 {
    width: 50%;
    float: left;
}

.col-reg1 img, .col-reg2 img{
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-bottom: 5vh;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
}

#grid-container3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: flex-start;
    margin: 5vh 0;
}
  
#grid-container3 img {
    max-width: 100%;
    max-height: 23em; /* Adjust the desired height as needed */
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.grid-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    flex-wrap: wrap;
    overflow: hidden;
}
#grid-container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: strech; /*this will center the items (images) in grid-contain to the center of the page*/
    margin: 5vh 0;
}

#grid-container2 img{
    max-width: 100%;
    max-height: 29em;
    width: 100%;
    height: 100%;
}

#grid-container4 {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 10px;
    display: center;
    flex-wrap: wrap;
    margin: 5vh 0;
}

#grid-container4 img{
    width: 100%;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

#grid-container4 video{
    width: 100%;
    max-width: 60em;
    max-height: 29em;
    width: auto;
    height: auto;
}



/* scroll to the top */
#myBtn {
    background-color: #A284F9;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
    text-decoration: none;
    cursor: url('../images/hover cursor.png') 16 16, auto;
    transition: all .4s;
}
#myBtn .subsubsub-title {
    font-size: 20px;
}
#myBtn h1:hover {
    color: #A284F9;
}
#myBtn:hover {
    background-color: #fff;
    color: #A284F9;
    border-color: #A284F9;
    border-width: 3px;
    border-style: solid;
    cursor: url('../images/hover cursor.png') 16 16, auto;
}

.stack-contain {
    display: flex;
    flex-direction: column;
    padding: 2vh;
}
a .stack-contain {
    text-decoration: none;
}
.stack-contain p a:link, a:visited {
    
    text-decoration: none;
    font-weight: bold;
}

.stack{
    display: flex;
    justify-content:space-around;
}

html {
    scroll-behavior: smooth;
}

#rec{
    padding: 30px 0;
}
#rec #grid-container3 {
    margin: 0;
}

.right-nav{
    display: flex;
    justify-content: space-between;
}
.prev-contain {
    display: flex; 
        flex-direction: row; 
        justify-content: space-between;
}

.chat-contain {
    display: flex; 
        flex-direction: row; 
        justify-content: space-between;
}

#chat-right {
    flex-basis: 50%; 
    margin-left: 10vh;
}



/*  wrap header text */
@media (max-width: 1425px) {
    .header-text {
        
        flex-direction: column;
    }
}
/* about page responsiveness with top column container flex down */
@media (max-width: 1280px) {
    
    .about-row {
        flex-direction: row;
    }
    #column-contain {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    #pins .row{
        flex-direction: column;
    }
    .pins-contain {
        width: 70vw;
    }
    .listen-contain .row {
        flex-direction: column;
    }
    .listen-contain .column {
        width: auto;
    }
    .about-row {
        flex-direction: column;
    }
    .about-col-2 {
        width: 100%;
        order: 1;
        padding: 5vh 0vh;
        margin: 0;
        flex-basis: 100%;
    }
    
    .about-col-1 {
        order: 2;
        padding: 5vh 0vh;
    }
}

/* change padding of viewport l2 */
@media (max-width: 1126px) {
    .row {
        padding: 0;
    }
    #contact .container {
        padding: 1vh 5vh;
    }
   
    .head-contain {
        margin: auto 20vh;
    }
    #section {
        padding: 10vh;
    }
}
/* tech stack flex*/
@media (max-width: 1050px) {
    .tech-stack {
        flex-direction: column;
    }
}
/* flex wrap about section and columns inside projects*/
@media (max-width: 1000px) {
    .listen-contain .column {
        padding: 0 1vh;
    }
    .listen-contain img {
        width: 20vh;
        height: 20vh;
    }
    .prev-contain {
        flex-direction: column;
    }
    .container {
        padding: 0;
    }
    .container .solid {
        margin: 3vh 0;
    }
    
   
    .color-contain #column-contain {
        align-items:flex-start;
        padding: 30px 0;
    }
    .color-contain .col1 {
        width: auto;
    }
    .col-reg1, .col-reg2 {
        width: auto;
        padding: 0;
    }
    .col-reg1 img, .col-reg2 img {
        width: 80vw;
        max-width: none;
        margin: 5vw auto;
        justify-content: center;
        display: flex;
    }
    
    #motto img {
        width: 80vw;
    }
   
    
    #grid-container2,
    #grid-container3,
    #grid-container4 {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }
    
    #grid-container2 img,
    #grid-container3 img,
    #grid-container4 img{
        height: 100%;
        width: auto;
        max-width: 90vw;
        margin: 5vw 0;
    }
}

    
/* css for small screen */


@media (max-width: 900px) {
    #grid-container2 img,
    #grid-container3 img,
    #grid-container4 img{
        
        max-width: 80vw;
       
    }
    #column-contain {
        padding: 0;
    }

    .long-contain p {
        text-align: left;
    }

    .subsubsub-title h1{
        text-align: left;
    }

    .column-contain {
        padding: 0;
    }

    .col1 , .col2 {
        padding: 0;
    }
    .head-contain{
        margin: 0 10vh;
    }
    .child {
        padding: 10vh 10vh;
    }
    .nav-container {
        padding: 4vh 8vh 2vh 8vh;
    }
    .about-col-1 img {
        width: 90%;
    }

}
/* nav bar responsiveness and tech stack stackecd */
@media (max-width: 845px) {
    #chat-right {
        margin: 4vw 0;
    }
    .chat-contain {
        flex-direction: column;
    }
    .listen-contain .column {
        width: 70vw;
        padding: 4vw 0;
    }
    .song-contain {
        flex-direction: column;
    }
    .nav-container nav ul {
        display: none;    
    }
    .right-nav .toggle-button {
        display:block;
    }
    .tech-stack .images-contain {
        flex-direction: column;
    }
    .tech-stack {
        flex-direction: row;
    }
    .tech-stack img {
        width: 6em;
    }
}
/* header text change */
@media (max-width: 810px) {
    .header-text {
        
        flex-direction: column;
    }
}

/* footer wraps + hero image replaced, flex wrap pins*/
@media (max-width: 768px) {
    .nav-container {
        padding: 4vh 5vh 2vh 5vh;;
    }
    .header-image {
        
        top: 4vw;
    }
    .header-image img {
        margin-top: 12vw;
    }
    #motto img {
        width: 100vw;
    }
    #motto {
        padding: 8vw 0;
    }
    #tech-stack .row img {
        width: 20vw;
        margin: 2vw;
    }
    .col-reg1,
    .col-reg2 {
        width: 100%;
        padding-right: 0;
    }
    #header {
        height: 130vh;
        background-image: none;
    }
    .head-contain {
        height: 130vh;
        justify-content: end;
        margin: 10vh 5vh;
    }
    .type-container {
        margin: 20vh 0;
    }
    .avatar2 img {
        display: block;
    }
    #section {
        padding: 5vh;
    }
    .header-text h1 span {
        font-size: 60px;
    }
    #pins {
        justify-content: flex-start;
    }
    #pins .row {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .pins-contain {
        margin: 3vh 0;
        width: 100%;
    }
    .callout {
        padding: 5%;
    }
    .contact-right {
        width: 27vh;
    }
    #contact .contact-left img {
        width: 180px;
    }
    #tech-stack .row {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
    }
    .sec1, 
    .sec2 {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         margin: 1vh 0;
         
    }
    .sec1 img,
    .sec2 img {
        margin: 0vh 2vh;
    }
    .tech-stack {
        flex-direction: column;
    }
    .footer, #contact .container .row {
        flex-direction: column;
        
    }
    #contact .container .row  {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .contact-right {
        width: 40vh;
    }
    .contact-mid,
    .contact-left {
        padding: 2vh;
    }
    .arrow {
        display: none;
    }
    #contact p,
    #contact h1 {
        text-align: center;
    }
    .social-icons {
        align-items: center;
        justify-content: center;
    }
    .type-container p {
        text-align: center;
    }
    .head-contain h1 {
        font-size: 50px;
        line-height: 1.3;
    }
    .header-text h1 span {
        font-size: 50px;
    }
    .icons-contain {
        display: none;
    }
   
    
}


/* decreasing the size of home page image */
@media (max-width: 600px) {
    .child {
        padding: 10vh 6vh;
    }
    h1, .subsub-title, .subsub-title span {
        font-size: 40px;
    }
    .current-contain .row{
        flex-direction: column;
        align-items: flex-start;
    }
    .current-contain p {
        margin: 5vh 0 0 0;
    }
    .about-col-1 img{
        width: 90%;
    }
    .overview .text-contain .row{
        display: flex;
        flex-direction: column;
    }
    .type-container {
        margin-bottom: 0vh;
    }
    #header .head-contain {
        height: 110vh;
    }
    .avatar2 img{
        height: 500px;
        margin: auto;
    }
    #header {
        height: 110vh;
    }
    .work-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 40px;
        margin-top: 50px;
    }
   
    
    .head-contain {
        margin: 10vh 5vh 5vh 5vh;
    }
    
    .head-contain {
        padding: 0;
    }
    .container {
        padding: 2vh 5vh;
    }
    

}


/* smallest screen size on mac */
@media (max-width: 500px){
    #header {
        background-image: none;
        overflow: hidden;
    }
    .btn {
        padding: 17px 18px;
    }
    
    #column-contain {
        flex-wrap: wrap;
    }
    .avatar2 img{
        height: 480px;
        margin-left: -50px;
    }
    about-col-1 {
        height: 70vh;
        padding: 0;
        margin-left: 0;
    }
    .cool-container .column-contain {
        padding: 0;
    }

    .about-col-2 {
        padding: 0;
    }
    #about {
        padding: 5vh 0;
    }
    
   
    
    .about-col-1 img{
        width: 45vh;
    }

    .footer {
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        justify-content: center;
        
    }
    
    .subp {
        font-size: 18px;
    }
    /* contact */
    .contact-right {
       max-width: 80vh;
    }
    .footer .subp{
        font-size: 18px;
        order: 2;
    }
    .row {
        padding: 0;
    }
    
    .section {
        padding: 0 10vh;
    }
    .container {
        padding: 5vh;
    }
    #grid-container4 {
        grid-template-columns:repeat(1, 1fr);
    }
    .cool-container {
        padding: 3vh 5vh;
    }
}

/* iphone xr */
@media (max-width: 414px) {
    .about-col-1 img {
        width: 90%;
    }
    #header, .head-contain {
        height: 99vh;
    }
    .nav-container a img {
        width: 180px;
    }
    .avatar2 img {
        margin-left: -20px;
        width: 326px;
        margin-top: -11px;
    }
    .type-container {
        margin-bottom: 0;
    }
    #motto img {
        width: 120vw;
    }
    
    
   
}



/* hobbies page */
#hobbies {
    display: flex;
    align-items: center;
    justify-content: center;
}
#hobbies .section-header{
    margin: 5vw 10vw 0 10vw;
}
#hobbies .section-header h1,
#hobbies .section-header p {
    text-align: center;
}
#hobbies .hobby-contain .subp p {
    color:#454a67;
}

.hobbies-contain {
    min-height: 100vh;
    margin-bottom: 5vw;
}
.hobbies-contain .pins-contain {
    width: 400px;
    height: auto;
    margin: 1.5vw;
}
.hobbies-contain .pins-contain h2, 
.hobbies-contain .pins-contain p {
    margin: 2vw 0;
}
.hobbies-contain .subp {
    font-weight: normal;
    color: rgba(255,255,255,.5);
    font-size: 18px;
    line-height: 27px;
}
.hobbies-contain .pins-contain p {
    font-size: 18px;
}
.hobbies-contain .column {
    justify-content: flex-start;
}
.hobbies-contain .pins-contain img {
    border-radius: 15px;
    max-width: 100%;
    max-height: 100%;
}

    

/* SUPER COOL GRADIENT BCKGROUND */
/* background: rgb(240,252,255);
    background: linear-gradient(318deg, rgba(240,252,255,1) 11%, rgba(242,243,255,1) 30%, rgba(255,255,255,1) 42%, rgba(242,244,255,1) 54%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 78%, rgba(255,255,255,1) 92%, rgba(248,240,255,1) 100%, rgba(233,255,251,1) 100%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%); */