:root {
  --font: "Helvetica Neue", sans-serif;
  --secfont: "Inconsolata", sans-serif;
  --textfont: "Helvetica Neue", sans-serif;
  --spanFont: "Source Serif Pro", serif;

  /* colors */
  --prim: #6360ff;
  --sec: #8785ff;
  --primTransparent: rgba(27, 35, 120, 0.372);
  --card: #171717;
  --icon: #17171a;
  --iconBackground: #18182f;
  --outline: #5f5f5f40;
  --subheadingColor: rgba(255, 255, 255, 0.601);
  --hoverBackground: rgba(72, 91, 255, 0.15);
  --cardBorderColor: #363637;
  --hoverBlur: drop-shadow(0px 0px 8px rgba(99, 96, 255, 0.5));
  --transitionHover: 500ms background-color ease-in-out,
    500ms border ease-in-out;

  /* border formatting */
  --border: 1.5px solid var(--outline); /* border for large containers */
  --cardBorder: 1.5px solid var(--cardBorderColor); /* border for cards and tags */
  --containerBorderRadius: 6px;
  --cardBorderRadius: 4px;
  --borderHover: 1.5px solid var(--prim);

  /* general spacing */
  --smallGap: 4px; /* small gap */
  --listGap: 14px; /* list of elements */
  --containerGap: 28px; /* cards of elements */

  /* text */
  --title: 48px;
  --heading: 28px;
  --subparagraph: 22px;
  --paragraphs: 16px;
  --textColor: #ffffffc5;
  --textGradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(153, 153, 153, 1) 100%
  );
}
@font-face {
  font-family: "Alliance No.1";
  src: url("fonts/AllianceNo1-Medium copy.ttf") format("truetype");
}
@font-face {
  font-family: "Source Serif Pro";
  src: url("fonts/SourceSerifPro-SemiboldIt.otf") format("truetype");
}
@font-face {
  font-family: "Inconsolata";
  src: url("fonts/Inconsolata-VariableFont_wdth\,wght.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

img {
  border-radius: var(--cardBorderRadius);
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  background: #101010;
  margin: 0;
  max-width: 100vw;
  width: 100vw;
  /* cursor: url('../images/portfolio cursor.png') 16 16, auto; */
}
::selection,
a::selection,
h1::selection,
h2::selection,
p::selection,
.gradient-text::selection {
  background: #415effed;
  z-index: 1;
  color: #fff;
}
a:-webkit-any-link {
  /* cursor: url('../images/hover cursor.png') 16 16, auto ; */
  text-decoration: none;
  transition: color 0.5s ease;
  color: #ffffff;
}

/* fonts */
li,
p {
  font-family: var(--textfont);
  color: var(--textColor);
  font-size: var(--paragraphs);
  line-height: 1.8;
  font-weight: 400;
}
p span {
  font-weight: 600;
  color: white;
}
h1 {
  font-family: var(--font);
  font-size: var(--title);
  font-weight: normal;
  background: var(--textGradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1 span {
  font-family: var(--spanFont);
  font-style: italic;
}
/* subheadings for titles */
h2 {
  font-family: var(--font);
  font-size: var(--heading);
  line-height: 1.5;
  font-weight: 400;
}
h3 {
  font-family: var(--font);
  font-weight: 400;
  color: rgba(255, 255, 255, 0.75);
  font-size: 22px;
}
h3 span {
  font-style: italic;
  color: #ffffff;
  font-weight: 600;
}

/* headings inside of cards */
h4 {
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--secfont);
  text-align: left;
  font-weight: 400;
}
.secondary-title {
  font-family: var(--font);
  font-weight: 500;
  opacity: 0.75;
}
/* links */
.link {
  display: grid;
  gap: 6px;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  height: fit-content;
  white-space: nowrap;
}
.link img {
  width: 20px;
  margin: 0;
}
a,
.main-content a {
  font-family: var(--textfont);

  font-size: 1.15em;
  line-height: 36px;
  color: #ffffff;
  font-weight: 400;
  transition: color 0.25s ease;
}

.text-contain a {
  font-weight: bold;
  color: var(--prim);
  text-decoration: underline;
}

/* used for .5 white and 1 white opacity heading text */
.center-text {
  text-align: center;
  font-family: var(--font);
  font-size: 44px;
  line-height: 120%;
}
.center-text span {
  color: var(--textColor);
}
.callout-p {
  font-size: 18px;
  color: var(--textColor);
  z-index: 1000;
}
.overview p {
  margin-top: 4vh;
}
.callout-h {
  color: #ffffffbf;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 5vh;
  line-height: 55px;
}
.callout-h span {
  font-style: italic;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.12);
}

/* h3 */
.subsubsub-title {
  font-size: 30px;
  font-weight: 600;
  line-height: 54px;
  font-family: var(--textfont);
  font-style: italic;
}
.work-heading .caption {
  text-align: left;
}
.caption {
  font-family: var(--textfont);
  color: var(--textColor);
  text-align: center;
  font-size: 18px;
  opacity: 0.75;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}

.space {
  padding-top: 20vh;
}
/* divider */
.solid-contain {
  padding: 14vh 0;
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.center p,
.center h1,
.center .subsub-title,
.center .subsubsub-title,
.center .callout-h {
  text-align: center;
}
/* other containers */
.current-contain a {
  border: var(--cardBorder);
  border-radius: var(--cardBorderRadius);
  background-color: var(--card);
  padding: 1.8em;
  display: grid;
  grid-auto-flow: column;
  gap: 22px;
  justify-content: flex-start;
  width: 100%;
  transition: var(--transitionHover);
}
.current-contain-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--listGap);
  width: 100%;
  margin-top: 36px;
}

.current-contain .emoji-contain {
  margin: 0;
  transition: 500ms background-color ease-in-out;
}
.current-contain a:hover {
  filter: var(--hoverBlur);
  border: var(--borderHover);
  background-color: var(--hoverBackground);
  cursor: pointer;
}
.current-contain a:hover .emoji-contain {
  background-color: var(--prim);
}
/* infinite scroll */
.infinite-contain {
  overflow: hidden;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  padding: 4vh 0;
  /* width: 100vw;
  overflow-x: hidden; */
  /* margin: 2vh 0; */
  /* background-color: var(--card); */
  /* border: solid 3px 0 3px 0 var(--cardBorderColor); */
  border-style: solid;
  border-color: var(--cardBorderColor);
  border-width: 1.5px 0;
}
.infinite-cards {
  left: 100%;
  width: auto;
  max-width: 100vw;
  position: absolute;
  overflow-x: hidden;
  white-space: nowrap;
  animation: scroll 42s linear infinite;
}
.infinite-cards span {
  color: #fff;
  font-size: 20px;
  font-family: var(--secfont);
  padding-right: 1em;
  overflow-x: hidden;
}
.center-text-contain {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  gap: 18px;
}
.center-text-contain .tag-contain {
  justify-content: center;
  display: grid;
  align-items: center;
  width: 100%;
}
.coffee-contain {
  background-image: url("images/about/coffeeChatBackground.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-size: 100vw auto;
}
.contact-contain-coffee {
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 22px;
  margin-top: 6vh;
}

.tech-stack {
  background-image: url("images/techStack.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 110vh;
  width: 100vw;
}

.row1,
.row2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 2vw 0;
}

@keyframes scroll {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

.center p {
  text-align: center;
}

.arrow {
  margin-top: 1.5vh;
}

.parallax {
  position: sticky;
  overflow-y: auto;
  height: 100vh;
  overflow-x: hidden;
}
/* icons */
.icons-contain {
  position: absolute;
  z-index: 12;
}
.icons-contain p {
  text-align: center;
  font-size: 14px;
  width: fit-content;
  white-space: nowrap;
}
.icon-contain {
  width: 60px;
  height: 60px;
  padding: 1.2em;
  border-radius: 100px;
  background-color: var(--iconBackground);
  display: grid;
  place-content: center;
  z-index: 12;
  transition:
    500ms background-color ease,
    500ms filter ease;
}
.icon-items {
  position: absolute;
  display: grid;
  justify-content: center;
  align-items: center;
}
.icon-items a {
  width: 100%;
  display: grid;
  place-content: center;
  z-index: 12;
}
.icon-contain:hover {
  background-color: var(--prim);
  filter: var(--hoverBlur);
  cursor: pointer;
}
.icon-contain:hover i {
  color: #ffffff;
}
.icon-contain:hover .icon-text {
  display: block;
}
.icons-contain {
  width: 80vw;
  height: auto;
  z-index: 200;
  /* animation: float 8s ease-in-out infinite; */
}

.icons-contain i {
  color: var(--textColor);
  font-size: 1.5em;
  /* cursor: url('../images/hover cursor.png') 16 16, auto ; */
  transition:
    color 0.5s ease,
    text-shadow 0.5s ease;
}

.scroll-down {
  display: grid;
  place-content: center;
}
.scroll-down i {
  color: #fff;
  filter: var(--hoverBlur);
  background-color: var(--prim);
  border-radius: 200px;
  padding: 4vh;
  height: 50px;
  width: 50px;
  font-size: 1.5em;
  display: grid;
  place-content: center;
  /* cursor: url('../images/hover cursor.png') 16 16, auto ; */
  transition:
    color 0.5s ease,
    text-shadow 0.5s ease;
  animation: slowfloat 2s ease-in-out infinite;
}

/* float animation */

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-1em) translatex(-1em);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes slowfloat {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-0.5em);
  }
  100% {
    transform: translatey(0px);
  }
}

/* button */

.btn {
  background-color: var(--prim);
  padding: 8px 18px;
  border-radius: var(--cardBorderRadius);
  max-width: 20em;
  width: fit-content;
  font-weight: 400;
  font-size: 18px;
  font-family: var(--textfont);
  white-space: nowrap;
}
.btn-sec a {
  background-color: #201f2d;
}
.btn-sec a:hover {
  background-color: #fff;
  transition: background-color 300ms ease;
}

/* contact */
.contact-btn {
  background-color: var(--prim);
  padding: 12px;
  border-radius: var(--cardBorderRadius);
  display: grid;
  place-content: center;
  transition: background-color 300ms ease;
}

.contact-btn i {
  font-size: 22px;
}
.contact-btn:hover i {
  color: var(--prim);
}
.btn:hover,
.contact-btn:hover {
  background-color: #fff;
  /* border: var(--borderHover);
  filter: var(--hoverBlur); */
}
.btn-new a {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-auto-flow: column;
  gap: 8px;
  transition: background-color 300ms ease;
  z-index: 1000;
}
.btn-new a p {
  font-weight: 500;
  color: #ffffff;
}

.btn-new:hover a {
  color: var(--prim);
}
.btn-sec:hover a p {
  color: #201f2d;
}
.btn-new i {
  font-size: 20px;
}
.btn-new:hover i {
  color: var(--prim);
  transform: translateX(4px);
}
.btn-sec:hover i {
  color: #201f2d;
}
/* open new tab button */
.btn-nav a {
  border-radius: 4px;
  padding: 2px;
  height: 35px;
  width: 35px;
  display: grid;
  place-content: center;
  transition: var(--transitionHover);
  border: 1px solid var(--border);
}
.bookshelf-item .btn-nav img {
  height: 20px;
  width: 20px;
}

.btn-nav a:hover {
  cursor: pointer;
  filter: var(--hoverBlur);
  border: var(--borderHover);
  background-color: var(--prim);
}

/* line divider */
.solid {
  border: 1px solid rgba(255, 255, 255, 0.15);
}

/* vertical dotted line  */
.vertical {
  border-left: 4px dotted rgba(255, 255, 255, 0.8);
  height: 50px;
  border-spacing: 100px;
  margin-left: 15px;
}

/* add a cool rounded border to highlight sections */
.callout {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 40px;
  padding: 40px;
  margin: 2vw 0;
  min-width: 30vw;
}
.callout .emoji-contain {
  margin-right: 2em;
}

#header {
  width: 100%;
  height: 100vh;
  position: relative;
}

/* nav bar */
nav {
  display: flex;
  align-items: center;
  position: sticky;
  justify-content: space-between;
  flex-wrap: nowrap;
  top: 0;
}
.nav-container {
  padding: 2vh 18vh 1vh 18vh;
  position: fixed;
  top: 0;
  background-color: rgba(16, 16, 16, 0.1);
  /* backdrop-filter: blur(8px); */
  z-index: 90000;
  width: 100vw;
  border-bottom: 1px solid var(--outline);
  transition: transform 0.3s ease-in-out;
}
.nav-container.hidden {
  transform: translateY(-100%);
}

.nav-container img {
  border-radius: 0;
}

.nav-container.shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul li a#active {
  border-top: #ffffff solid 4px;
  padding-top: 10px;
  opacity: 1;
  border-radius: 100;
}
/* side nav */
.sidenav {
  position: sticky;
  top: 20vh;
  height: 100vh;
  width: 15%;
  left: 5vw;
  z-index: 100;
  background-color: #101010;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 20vh;
}
.sidenav .column {
  align-items: flex-start;
}

.sidenav a {
  display: block;
  font-size: 20px;
  color: rgb(255, 255, 255, 0.5);
  text-align: left;
  font-weight: bold;
  padding: 0.6em 0;
  transition: color 0.25s ease;
}
.sidenav a:hover,
.sidenav a.active {
  color: var(--prim);
}
.main-content {
  margin-left: 10vh;
  width: 85%;
}
/* responsive nav */
.toggle-button {
  color: #fff;
  font-size: 30px;
  /* cursor: url('../images/hover cursor.png') 16 16, auto ; */
  transition: color 0.5s ease;
  display: none;
}
.toggle-button:hover {
  color: var(--prim);
}
.dropdown-nav {
  background-color: #101010;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  height: 0;

  position: fixed;
  overflow: hidden;
  transition: height 0.3s ease;

  width: 100vw;
  margin: auto;
  z-index: 1000;
  color: #fff;
  top: 80px;
}
body.dropdown-nav.open {
  overflow: hidden;
}
.dropdown-nav li {
  list-style: none;
  margin: 2vh;
}
.dropdown-nav .btn {
  padding: 17px 80px;
}
.dropdown-nav a:hover {
  color: var(--prim);
}
.dropdown-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;

  transition: color 0.3s ease;
}
.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.column-left {
  display: grid;
  grid-template-columns: auto;
  align-items: flex-start;
}
#personality-content {
  display: flex;
  flex-direction: column;
}
#personality-content .column {
  align-items: flex-start;
  margin: 2em;
  flex-basis: 33%;
}
#personality-content .row {
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 5vh;
}

.dropdown-nav.open {
  height: 100vh;
  width: 100vw;
  margin: auto;
  padding-top: 20vh;
}

.head-contain {
  display: grid;
  height: 100vh;
  justify-items: center;
  align-items: end;
  color: #fff;
  overflow-y: hidden;
  background-image: url("images/backgroundHero.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.planetContain {
  z-index: 1;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.planetContain img {
  border-radius: 0;
  width: 40vw;
  margin: 0;
}
nav ul li {
  /* creates horizontal alignment */
  display: inline-block;
  /* removes bullet points */
  list-style: none;
  padding: 5px 20px;
}

nav ul li a:link,
nav ul li a:visited {
  color: #fff;
  opacity: 0.5;
  /* cursor:  url('../images/hover cursor.png') 16 16, auto; */
  text-decoration: none;
  font-size: 18px;
  position: relative;
  font-weight: 400;
  transition: opacity 0.5s ease-in-out;
}

nav ul li a:hover {
  opacity: 1;
}
/* for the underline feature */
nav ul li a p::after {
  content: "";
  width: 0;
  height: 4px;
  background: var(--prim);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
/* underline feature */
nav ul li a:hover::after {
  width: 100%;
  background: var(--prim);
}

.header-text {
  align-items: center;
  /* paragraph font */
  font-size: 28px;
  flex-direction: row;
  display: flex;
  justify-content: center;
  z-index: 500;
}

.header-text h1 span,
.center h1 span {
  background-color: var(--prim);
  font-style: italic;
}
.avatar2 img {
  height: 600px;
  margin-left: -60px;
  align-items: center;
  display: none;
  margin-top: 2vh;
}

p.black {
  font-weight: 900;
}
.gradient-text {
  font-family: var(--font);
  /* font-size: var(--heading); */

  background: var(--textGradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.type-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  z-index: 200;
  position: relative;
  top: 10vh;
  height: 200px;
  font-size: 48px;
  justify-content: center;
}
.header-text-contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
  gap: 18px;
}

*/ .row {
  /* content is side by side */
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}
.contain {
  scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
  /* padding: 15vh 10vh; */
}

.child {
  padding: 20vh;
  scroll-snap-align: start;
}

/* scroll section */

.scroll-section {
  position: sticky;
  height: 100vh;
  background-color: #101010;
  display: flex;
  justify-content: center;
  padding: 40px 14%;
  top: 50px;
}

/* about section */
.about-contain {
  display: grid;
  place-content: center;
  grid-template-columns: 0.7fr 1.3fr;
  gap: 22px;
  width: 92vw;
  margin: 15vh 4vw 4vh 4vw;
  justify-content: center;
  height: auto;
  align-items: start;
}
.dashboard-contain {
  max-width: 100%;
  display: grid;
  height: 100%;
  grid-template-columns: auto;
  gap: 36px;
}
.dashboard-contain-left img {
  border-radius: var(--cardBorderRadius);
  width: 100%;
  max-width: 100%;
  margin: 0;
}
.dashboard-contain-left {
  display: grid;
  grid-template-columns: auto;
  gap: 22px;
  width: 100%;
  align-items: flex-start;
  height: 100%;
}
.inventory-contain {
  border-radius: var(--containerBorderRadius);
  display: grid;
  grid-auto-flow: column;
  gap: 22px;
  border: var(--cardBorder);
  padding: 18px 22px 4px 22px;
  width: 100%;
  height: fit-content;
}
.inventory-item p {
  color: var(--cardBorderColor);
  transition: color 500ms ease;
  white-space: nowrap;
  font-size: 14px;
}
.inventory-item:hover p {
  color: #fff;
}
.inventory-item {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.inventory-item a {
  border-radius: var(--cardBorderRadius);
  padding: 12px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  background-color: var(--card);
  width: 80px;
  height: 80px;
  overflow: hidden;
  display: grid;
  place-content: center;
  align-items: center;
  justify-content: center;
  transition: var(--transitionHover);
  opacity: 0.75;
}
.inventory-item a:hover {
  background-color: var(--hoverBackground);
  border: var(--borderHover);
  filter: var(--hoverBlur);
  cursor: pointer;
  opacity: 1;
}
.inventory-item img {
  max-width: 200px;
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.dashboard-contain p {
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}
/* about section h1 */
.about-contain h1 {
  font-size: 48px;
  line-height: 1;
  text-align: left;
}
.about-contain h2 {
  font-size: 32px;
  text-align: left;
  font-family: var(--font);
}
.dash-header-contain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
}
.dash-left {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr;
  gap: 22px;
}
.dash-right {
  text-align: right;
  display: grid;
  grid-template-columns: auto;
  margin: 0;
}

.dash-main-contain {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  gap: 28px;
}
.dash-main-contain .dash-left {
  gap: 36px;
}
.dash-main-contain .dash-left p {
  width: 360px;
  color: #fff;

  font-size: 16px;
}
.dash-main-contain .dash-left p span {
  color: rgba(255, 255, 255, 0.7);
}
.skills-contain,
.prev-contain,
.bookshelf-contain,
.ideation-contain {
  border: var(--cardBorder);
  padding: 22px;
  display: grid;
  grid-template-columns: auto;
  border-radius: var(--containerBorderRadius);
  gap: 12px;
  width: fit-content;
  height: 100%;
}
.date {
  font-size: 14px;
  color: #7b7b7b;
  font-family: var(--textfont);
  align-items: flex-start;
  display: flex;
  width: 100%;
}
.bookshelf-contain {
  width: 100%;
  height: fit-content;
  gap: 12px;
}
.ideation-contain {
  width: 100%;
  height: fit-content;
}
.ideation-content {
  display: grid;
  grid-template-columns: 0.5fr 1.25fr 1.25fr;
  gap: 14px;
}
.ideation-item {
  display: grid;
  grid-template-columns: auto;
  gap: 8px;
  justify-self: flex-start;
  align-items: flex-start;
  height: fit-content;
  width: 100%;
}
.title-label {
  background-color: var(--prim);
  border-radius: 4px;
  width: fit-content;
  height: fit-content;
  padding: 6px 8px;
}
.title-label p {
  font-size: 12px;
  color: #fff;
  margin: 0;
  line-height: 1.2;
}
.ideation-main {
  border: 1px solid var(--prim);
  border-radius: var(--cardBorderRadius);
  background-color: var(--iconBackground);
  padding: 28px;
  display: grid;
  grid-template-columns: auto;
  gap: 24px;
  width: 100%;
  height: fit-content;
}
.sticky-contain {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  gap: 22px;
  height: 250px;
}

.sticky-note:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.sticky-note-left,
.sticky-note-right,
.sticky-note {
  background-color: var(--prim);
  padding: 18px 12px;
  position: absolute;
  border-radius: 4px;
  width: 150px;
  height: 150px;
  box-shadow: 0px 0px 5.5px 0px rgba(0, 0, 0, 0.25);
  transition: transform 200ms ease-in-out;
}
.sticky-note {
  position: relative;
  height: fit-content;
}
.sticky-note-left p,
.sticky-note-right p,
.sticky-note p {
  color: var(--textColor);
  font-size: 16px;
  line-height: 1.8;
}
.sticky-note-left p span,
.sticky-note p span,
.sticky-note-right p span {
  font-weight: 600;
  font-style: italic;
  color: var(--textColor);
}
.sticky-note-left:hover span,
.sticky-note:hover span,
.sticky-note-right:hover span {
  color: #fff;
}
.sticky-note-right:hover {
  z-index: 1000;
  cursor: pointer;
  transform: rotate(10deg) scale(1.1);
}
.sticky-note-left:hover {
  z-index: 1000;
  cursor: pointer;
  transform: rotate(-10deg) scale(1.1);
}

.prev-items-contain {
  overflow-y: scroll;
  height: 50vh;
  display: grid;
  grid-template-columns: auto;
  gap: var(--listGap);
  align-content: flex-start;
}
.skills-contain img {
  border-radius: 0;
  margin: 0;
}
.prev-item {
  border-radius: var(--cardBorderRadius);
  border: 2px solid var(--cardBorderColor);
  display: grid;
  align-items: flex-start;
  justify-content: flex-start;
  height: fit-content;
  padding: 18px;
  grid-auto-flow: column;
  gap: 18px;
  background-color: var(--card);
}
.bookshelf-item {
  height: fit-content;
  align-items: center;
  width: 100%;
  border-radius: var(--cardBorderRadius);
  border: 2px solid var(--cardBorderColor);
  background-color: var(--card);
  padding: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bookshelf-item h3 {
  font-size: 24px;
}
.bookshelf-left {
  display: grid;
  grid-auto-flow: column;
  gap: 18px;
}
.bookshelf-item img {
  height: 80px;
  width: 80px;
  border-radius: 4px;
  margin: 0;
}
.bookshelf-center-text {
  display: grid;
  grid-template-columns: auto;
  gap: 8px;
}

.prev-contain h3 {
  text-align: left;
}

.prev-item p {
  text-align: left;
}
.prev-text {
  display: flex;
  flex-direction: column;
  gap: var(--smallGap);
}
.prev-item img {
  width: 42px;
  height: 42px;
  margin: 0;
}
.subsub-title span,
h1 span,
.bottom-header-text {
  font-family: var(--spanFont);
  font-weight: normal;
  color: white;
}
/* serendipity section */
.serendipity-header h1 {
  font-size: 48px;
  text-align: center;
}
.serendipity-header h1 span {
  background-color: #101010;
  font-style: normal;
}

.serendipity-header p {
  width: 100%;
  text-align: center;
}
.serendipity-header {
  display: grid;
  place-content: center;
  grid-template-columns: auto;
  align-content: center;
  justify-content: center;
  gap: 12px;
  margin: 5vh 0;
}
.serendipity-wrapper {
  display: grid;
  grid-auto-flow: column;
  gap: var(--containerGap);
  align-items: start;
}
.serendipity-contain {
  margin: 2vh 0;
  display: grid;
  gap: var(--containerGap);
  grid-template-columns: auto;
  width: 100%;
}
.seren-img {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.seren-img img {
  border-radius: var(--cardBorderRadius);
  max-width: 40vw;
}
.seren-item a,
.seren-item-shelf a {
  border-radius: var(--containerBorderRadius);
  display: grid;
  place-content: center;
  justify-content: flex-start;
  grid-template-columns: auto;
  gap: 8px;
  padding: 2vh;
  border: var(--border);
  background-color: var(--card);
  width: calc (100% - 72px);
  transition: var(--transitionHover);
  height: fit-content;
  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s;
}
.seren-item-shelf img {
  width: 150px;
  height: 150px;
  transition: transform 500ms ease;
}
.seren-item-shelf a {
  grid-auto-flow: column;
  gap: 12px;
}

.right-seren-contain {
  display: grid;
  grid-template-columns: auto;
  gap: 12px;
  align-content: center;
  justify-content: flex-start;
}
.seren-item a:hover,
.seren-item-shelf a:hover {
  background-color: var(--hoverBackground);
  filter: var(--hoverBlur);
  border: var(--borderHover);
  cursor: pointer;
}
.seren-item a:hover img,
.seren-item-shelf a:hover img {
  transform: scale(1.02);
}
.seren-item a .tag-wrap .tag {
  font-size: 14px;
  padding: 8px 12px;
  margin: 0;
}

.seren-item a h3,
.seren-item-shelf a h3 {
  font-size: 22px;
}
.seren-item a img {
  width: 100%;
  transition: transform 500ms ease;
}
/* portfolio section */
#portfolio {
  display: grid;
  grid-gap: 30vh;
  grid-template-columns: 1fr;
}
.work-contain {
  display: grid;
  grid-template-columns: auto;
  align-items: flex-start;
}
.work-contain .caption {
  text-align: left;
  justify-content: left;
}

/* tag styling*/
.tag {
  padding: 10px 12px;
  background-color: var(--outline);
  color: rgba(255, 255, 255, 0.752);
  border-radius: 4px;
  width: fit-content;
  font-size: 16px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--secfont);
  font-weight: 500;
  line-height: 0;
  white-space: nowrap;
}
.tag-wrap {
  display: flex;
  flex-direction: row;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.dashboard-contain .tag-wrap {
  gap: 12px;
}
.tagAbout a {
  padding: 4px 12px;
  border: 1px solid var(--cardBorderColor);
  color: #ffffff;
  font-family: var(--secfont);
  display: grid;
  grid-auto-flow: column;
  width: fit-content;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  transition: var(--transitionHover);
  white-space: nowrap;
  background-color: var(--card);
}
.tagAbout p {
  color: #fff;
  font-family: var(--secfont);
}
.tagAbout a:hover {
  background-color: var(--hoverBackground);
  border: var(--borderHover);
  filter: var(--hoverBlur);
  cursor: pointer;
}
.work-heading {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
  width: 100%;
}
.work-heading .subsub-title {
  margin-right: 25px;
}
.arrowContain {
  display: none;
  transition:
    transform 200ms ease-in-out,
    opacity 200ms ease-in-out;
}
.fa-arrow-right {
  color: #ffffff;
  transition:
    transform 0.5s ease,
    opacity 0.5s ease;
  font-size: 40px;
}
.work-contain:hover .arrowContain {
  transform: translateX(25px);
  opacity: 0.5;
}

.work-image {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--containerBorderRadius);
  border: var(--cardBorder);
  height: auto;
  margin-top: 4vh;
  transition:
    transform 0.5s ease,
    border 0.2s ease;
  width: 80vw;
  height: 98vh;
  overflow: hidden;
  height: 90vh;
}

.work-image img {
  width: 100%; /* Ensure the image is as wide as the container */
  height: 100%; /* Ensure the image is as tall as the container */
  object-fit: cover; /* Cover the container without distorting the aspect ratio */
  border-radius: 0px; /* Keep the border-radius at 0 */
}

.work-image:hover {
  transform: scale(1.05);
  border: 3px solid #ffffff82;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 40px;
  position: relative;
  overflow: hidden;
  display: block;
  transition: box-shadow 2s ease;
  margin-right: 5vh;
}

#rec .row {
  justify-content: space-between;
}
.work img {
  border-radius: 20px;
  display: block;
  max-height: none;
}

.layer {
  width: 100%;
  height: 100%;
  background-color: rgba(28, 30, 43, 0.7);
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 10px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.layer h1 {
  font-size: 25px;
  color: #fff;
  z-index: 2;
}
.layer p {
  color: #fff;
  font-size: 16;
}

.work:hover .layer {
  opacity: 1;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

/* motto section */
#motto {
  background-color: #101010;
}
.motto-contain {
  align-items: center;
  justify-content: center;
  display: flex;
}
#motto p {
  text-align: center;
  color: #fff;
  opacity: 0.6;
}
#motto img {
  width: 60vw;
}
/* about me page */
.about-row {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

/* contact */
#contact {
  padding: 6vh 3vh 2vh 3vh;
  color: #fff;
  background-color: #101010;
}

#contact h1 {
  font-size: 20px;
  line-height: 30px;
}
#contact p {
  color: #fff;
  font-size: 16px;
}

#contact img {
  max-width: 230px;
  max-height: 230px;
}
#contact .link a {
  color: #fff;
}
#contact .link:hover a,
#contact .link:hover img {
  animation: hoverFloat 0.3s ease-in-out;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2vh;
}
.contact-contain {
  /* display: grid;
  grid-auto-flow: column; */
  display: flex;
  flex-direction: row;
  gap: 22px;
  margin: 0 8vw;
}
.contact-mid,
.contact-right,
.contact-left {
  display: grid;
  grid-template-columns: auto;
  padding: 2vh;
  max-width: 360px;
  gap: 8px;
  flex-grow: 1;
}
.contact-mid p,
.contact-right p {
  color: #fff;
}

.contact-mid p i {
  color: #fff;
  margin-left: 30px;
}

/* favorite tech section */
.favWrapper {
  display: grid;
  grid-template-columns: auto;
  gap: 48px;
}
.favWrapper .center-text-contain {
  height: fit-content;
}
.favContain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.favContain i {
  font-size: 24px;
}
.favContain img {
  border-radius: 0;
  height: 140px;
}
.favCard {
  border-radius: var(--cardBorderRadius);
  display: grid;
  place-content: center;
  min-height: 240px;
  min-width: 180px;
  transition: var(--transitionHover);
  cursor: pointer;
  /* border: 2px solid var(--cardBorderColor);
  background-color: var(--card); */
}
.favCard:hover {
  background-color: var(--hoverBackground);
  border: var(--borderHover);
  filter: var(--hoverBlur);
}

.icon {
  filter: brightness(0%) invert(100%);
  height: 20px;
  width: auto;
  margin: 5px 18px 0 0;
}

.subp {
  font-weight: 200;
  font-size: 14px;
}
/* portfolio case study sections */
.image-full-contain {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
}
.image-full-contain img {
  width: 100vw;
  height: auto;
  margin: 0;
}
.case-section {
  display: flex;
  margin: 0 18vw;
  justify-content: flex-start;
  align-items: center;
}
.case-section h1 span {
  background: linear-gradient(to right, #ffffff, #ffffff0c);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.case-container {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.case-text-contain img {
  width: 100%;
  height: auto;
}
.case-header-img {
  height: fit-content;
}
.case-header-img img {
  border-radius: 0;
  width: 100vw;
}
.case-header {
  padding: 18vh 18vw 6vh 18vw;
  display: grid;
  place-content: center;
  height: fit-content;
  gap: 6px;
}
.case-header .tag-wrap {
  margin: 2.5vh 0;
}
.case-header-contain {
  font-size: 38px;
  font-family: var(--font);
  line-height: 1.4;
}
.case-subheading {
  font-size: 20px;
  font-weight: 400;
  color: var(--subheadingColor);
  font-family: var(--secfont);
}
.case-subheading-main {
  font-size: 18px;
  font-weight: 400;
  color: var(--subheadingColor);
  font-style: italic;
  font-family: var(--textfont);
}
.case-subheading-contain img {
  max-width: 40px;
  border-radius: 14px;
}
.case-summary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  width: 100%;
}
.case-summary-contain {
  display: flex;
  flex-direction: row;
  gap: 22px;
  background-color: var(--card);
  border-radius: 0 8px 8px 8px;
  padding: 12px;
  border: var(--border);
  width: 100%;
}
.case-summary-tag {
  background-color: var(--card);
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px 4px 0 0;
  width: fit-content;
}
.summary-item-contain {
  flex-grow: 1;
}
.case-summary-contain p {
  font-size: 16px;
  color: #a7a7a7;
}
.case-header .typed-cursor.typed-cursor--blink {
  display: none;
  opacity: 0;
}
.auto-type-after {
  margin-left: 12px;
}
.case-main {
  display: grid;
  gap: 10vh;
}
.case-main a {
  font-weight: 400;
  text-decoration: underline;
  color: white;
}
.divider {
  width: 100%;
  border: none;
  height: 1.5px;
  background-color: var(--outline);
  margin: 2vh 0;
}
.btn-contain {
  margin: 2vh 18vw;
  display: flex;
  flex-direction: row;
  gap: 22px;
}

.case-text-contain {
  gap: 12px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 28px;
  background-color: var(--card);
  border-radius: 8px;
  border: var(--border);
  width: fit-content;
  margin: 0 16vw;
}
.case-text-contain-image {
  background-color: var(--outline);
  border-radius: 4px;
  border: var(--border);
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
}
.case-text-contain-image h3 {
  color: white;
}
.case-text-contain-image img {
  width: 100%;
  height: auto;
}
.case-text-contain p span {
  color: #fff;
  font-weight: 600;
}
.case-inner-img-contain img {
  border-radius: 0;
  width: 100%;
}
.case-inner-img-contain {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  padding: 0 11vw;
}
.case-inner-img-contain p {
  color: rgba(225, 225, 225, 0.45);
}
.case-call-out {
  padding: 6vh 18vw;
  display: flex;
  flex-direction: column;
  gap: 22px;
  place-content: center;
  background-color: var(--card);
}
.case-call-out h1 {
  font-size: 48px;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
  font-family: var(--font);
  color: #fff;
}
.case-call-out .case-subheading {
  text-align: center;
}
.case-call-out h1 span {
  color: #fff;
  font-weight: 600;
  font-style: italic;
}
.callout-mini-contain {
  border-radius: var(--containerBorderRadius);
  background-color: var(--card);
  border: var(--border);
  padding: 22px;
  display: grid;
  grid-auto-flow: column;
  gap: 22px;
  margin: 0 18vw;
}

.mini-icon {
  padding: 5px;
  border-radius: var(--cardBorderRadius);
  background-color: var(--prim);
  display: grid;
  place-content: center;
  height: 40px;
  width: 40px;
}

/* portfolio project sections */

.header-image {
  display: flex;
  justify-content: center;
  top: 7vw;
  position: relative;
}
.header-image img {
  /* width: 100vw; */
  height: 100%;
  width: 100%;
  border-radius: 0;
}
#section {
  padding: 5vh 0;
  background: #101010;
  flex: auto;
  position: relative;
  overflow: hidden;
}
#section img {
  width: 100%;
  height: auto;
  margin: 0;
  margin: 2vh 0;
}
#section .work img {
  height: 100%;
}
#section .container {
  padding: 7vh 0;
}
.inner-img {
  margin: 10vh 0;
}

.section-header h1 {
  margin-bottom: 20vh;
  text-align: left;
}
.section-header .text-contain .row .column {
  align-items: flex-start;
}
.section-header .text-contain .row .column p {
  text-align: left;
  font-size: 18px;
}
.section-header .text-contain .row .left {
  align-items: flex-start;
  width: 40%;
}
.section-header .text-contain .row .right {
  align-items: flex-start;
  width: 60%;
}

.left {
  margin-right: 15vh;
  display: flex;
  margin-bottom: 5vh;
}
.section-header .text-contain .row {
  justify-content: space-between;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.section-header p {
  opacity: 75%;
  text-align: center;
}

.portfolio-content p {
  font-size: 22px;
}

.portfolio-content img {
  align-items: center;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.image-contain img {
  align-items: center;
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 40px 0;
}

.video-contain {
  margin-bottom: 5vh;
  width: 100%;
}

.text-contain {
  align-items: left;
  text-align: left;
  color: #454a67;
  margin: 0 auto;
}

.long-contain {
  padding: 20px 0;
}

.long-contain img {
  max-width: 100%;
  max-height: 100em; /* Adjust the desired height as needed */
  width: auto;
  height: auto;
}
.text-contain-color {
  align-items: left;
  text-align: left;
  color: #fff;

  margin: 0 auto;
}

.color-contain {
  align-items: left;
  text-align: left;
  background-color: #101010;
  padding: 0;
  padding: 30px 10vh;
}
.color-contain p,
.color-contain ul li {
  color: #fff;
  font-size: 22px;
  line-height: 2;
  opacity: 85%;
  font-weight: normal;
}
#column-contain {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: top;
  overflow: hidden;
  margin: 0 auto;
  padding: 5vh 0;
}

.col1 {
  width: 300px;
  float: left;
  margin-right: 20px;
  color: var(--prim);
}
.col1 .row {
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}
.col1 .row .column {
  justify-content: flex-start;
  margin: 0 2vh;
}

.col2 {
  width: 600px;
  float: left;
  flex-basis: 60%;
}

.sec1,
.sec2 {
  display: contents;
}

/* content tag */
#pins {
  margin: 5vh 0vh;
}
.pins-contain {
  border-radius: 40px;
  padding: 5vh;
  background-color: var(--card);
  /* width: 60vh;
    height: 48vh; */
  padding: 6vh;
  width: 38vw;
  height: auto;

  margin: 2vh 0;
}
.pins-contain li {
  margin-left: 6vh;
}

#pins .row {
  justify-content: space-between;
  display: flex;
}
.pins-contain ul li a {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 2;
  text-decoration: underline;
}
.pins-contain .subsubsub-title {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 3vh;
}
/* use for all containing a header and a paragraph underneath */
.head-text-contain {
  margin-bottom: 10vh;
}
.emoji-contain {
  padding: 4vh;
  background-color: var(--icon);
  border-radius: var(--cardBorderRadius);
  margin-bottom: 3vh;
  width: 6vh;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.emoji-contain img {
  border-radius: 0;
  width: 1.7em;
}
.emoji-contain h1 {
  font-size: 40px;
  margin: 0;
}
.section-header .emoji-contain h1 {
  font-size: 60px;
}
.section-header .emoji-contain {
  padding: 6vh;
  border-radius: 20px;
}

.overview .solid-contain {
  padding: 2vh 0;
}
.inner p {
  margin-right: 2vh;
}

/* hover float animation */
@keyframes hoverFloat {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-3px);
  }
  90% {
    transform: translatey(0px);
  }
  100% {
    transform: translatey(-1px);
  }
}

/* container columns and grids */

.col-reg1 {
  width: 50%;
  float: left;
  padding-right: 60px;
  flex-wrap: wrap;
}

.col-reg2 {
  width: 50%;
  float: left;
}

.col-reg1 img,
.col-reg2 img {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 5vh;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
}

#grid-container3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  align-items: flex-start;
  margin: 5vh 0;
}

#grid-container3 img {
  max-width: 100%;
  max-height: 23em; /* Adjust the desired height as needed */
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.grid-contain {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  flex-wrap: wrap;
  overflow: hidden;
}
#grid-container2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-items: strech; /*this will center the items (images) in grid-contain to the center of the page*/
  margin: 5vh 0;
}

#grid-container2 img {
  max-width: 100%;
  max-height: 29em;
  width: 100%;
  height: 100%;
}

#grid-container4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  display: center;
  flex-wrap: wrap;
  margin: 5vh 0;
}

#grid-container4 img {
  width: 100%;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

#grid-container4 video {
  width: 100%;
  max-width: 60em;
  max-height: 29em;
  width: auto;
  height: auto;
}

/* scroll to the top */
#myBtn {
  background-color: var(--prim);
  width: 50px;
  height: 50px;
  border-radius: 15px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  /* cursor: url('../images/hover cursor.png') 16 16, auto ; */
  transition: all 0.4s;
}
#myBtn .subsubsub-title {
  font-size: 20px;
}
#myBtn h1:hover {
  color: var(--prim);
}
#myBtn:hover {
  background-color: #fff;
  color: var(--prim);
  border-color: var(--prim);
  border-width: 3px;
  border-style: solid;
  /* cursor: url('../images/hover cursor.png') 16 16, auto ; */
}

.stack-contain {
  display: flex;
  flex-direction: column;
  padding: 2vh;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-weight: 600;
}

.stack {
  display: flex;
  justify-content: space-around;
}

html {
  scroll-behavior: smooth;
}

#rec {
  padding: 30px 0;
}
#rec #grid-container3 {
  margin: 0;
}

.right-nav {
  display: flex;
  justify-content: space-between;
}

.chat-contain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#chat-right {
  flex-basis: 50%;
  margin-left: 10vh;
}

/* about page responsiveness with top column container flex down */
@media (max-width: 1280px) {
  .about-row {
    flex-direction: row;
  }
  #column-contain {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
  #pins .row {
    flex-direction: column;
  }
  .pins-contain {
    width: 70vw;
  }

  .about-row {
    flex-direction: column;
  }
  .about-col-2 {
    width: 100%;
    order: 1;
    padding: 5vh 0vh;
    margin: 0;
    flex-basis: 100%;
  }

  .about-col-1 {
    order: 2;
    padding: 5vh 0vh;
  }
}

/* change padding of viewport l2 */
@media (max-width: 1126px) {
  .row {
    padding: 0;
  }
  #contact .container {
    padding: 1vh 0;
  }

  .head-contain {
    padding: auto 20vh;
  }
  #section {
    padding: 10vh;
  }
}
/* tech stack flex*/
@media (max-width: 1050px) {
  .listen-contain .row {
    flex-direction: column;
  }
  .listen-contain .column {
    width: auto;
  }
}
/* flex wrap about section and columns inside projects*/
@media (max-width: 1000px) {
  .listen-contain .column {
    padding: 0 1vh;
  }

  .container {
    padding: 0;
  }
  .container .solid {
    margin: 3vh 0;
  }

  .color-contain #column-contain {
    align-items: flex-start;
    padding: 30px 0;
  }
  .color-contain .col1 {
    width: auto;
  }
  .col-reg1,
  .col-reg2 {
    width: auto;
    padding: 0;
  }
  .col-reg1 img,
  .col-reg2 img {
    width: 80vw;
    max-width: none;
    margin: 5vw auto;
    justify-content: center;
    display: flex;
  }

  #motto img {
    width: 80vw;
  }

  #grid-container2,
  #grid-container3,
  #grid-container4 {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }

  #grid-container2 img,
  #grid-container3 img,
  #grid-container4 img {
    height: 100%;
    width: auto;
    max-width: 90vw;
    margin: 5vw 0;
  }
}

/* css for small screen */

@media (max-width: 900px) {
  #grid-container2 img,
  #grid-container3 img,
  #grid-container4 img {
    max-width: 80vw;
  }
  .tech-stack {
    grid-auto-flow: row;
  }
  .long-contain p {
    text-align: left;
  }

  .subsubsub-title h1 {
    text-align: left;
  }

  .column-contain {
    padding: 0;
  }

  .col1,
  .col2 {
    padding: 0;
  }
  .head-contain {
    padding: 0 10vh;
  }
  .child {
    padding: 10vh 10vh;
  }
  .nav-container {
    padding: 4vh 8vh 2vh 8vh;
  }
  .about-col-1 img {
    width: 90%;
    height: auto;
  }
}
/* nav bar responsiveness and tech stack stackecd */
@media (max-width: 845px) {
  #rec .row,
  .main-content-container .row,
  .wrapper {
    flex-direction: column;
  }

  .wrapper #section {
    padding: 10vh 0;
  }
  .sidenav {
    position: static;
    width: 100%;
    height: auto;
  }
  .main-content {
    width: 100%;
    margin: 0;
  }
  .section-header .text-contain .row {
    flex-direction: column;
  }

  .section-header .text-contain .row .column {
    width: 100%;
  }
  .wrapper {
    padding: 0 11vh;
  }
  #chat-right {
    margin: 4vw 0;
  }
  .chat-contain {
    flex-direction: column;
  }
  .listen-contain .column {
    width: 70vw;
    padding: 4vw 0;
  }
  .song-contain {
    margin-top: 4vh;
    flex-direction: column;
  }
  .nav-container nav ul {
    display: none;
  }
  .right-nav .toggle-button {
    display: block;
  }

  .tech-stack img {
    width: 6em;
  }
}
/* header text change */
@media (max-width: 810px) {
  .header-text {
    flex-direction: column;
  }
}

/* footer wraps + hero image replaced, flex wrap pins*/
@media (max-width: 768px) {
  .planetContain img {
    width: 80vw;
  }
  #header {
    height: 100vh;
  }
  #personality-content .row {
    flex-direction: column;
  }
  .nav-container {
    padding: 4vh 5vh 2vh 5vh;
  }
  .header-image {
    top: 4vw;
  }
  .header-image img {
    margin-top: 12vw;
  }
  #motto img {
    width: 100vw;
  }
  #motto {
    padding: 8vw 0;
  }
  #tech-stack .row img {
    width: 20vw;
    margin: 2vw;
  }
  .col-reg1,
  .col-reg2 {
    width: 100%;
    padding-right: 0;
  }

  .type-container {
    margin: 0;
  }
  .avatar2 img {
    display: block;
  }
  #section {
    padding: 5vh;
  }
  .header-text h1 span {
    font-size: 60px;
  }
  #pins {
    justify-content: flex-start;
  }
  #pins .row {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .pins-contain {
    margin: 3vh 0;
    width: 100%;
  }
  .callout {
    padding: 5%;
  }
  .contact-right {
    width: 27vh;
  }
  #contact .contact-left img {
    width: 180px;
  }
  #tech-stack .row {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
  .sec1,
  .sec2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1vh 0;
  }
  .sec1 img,
  .sec2 img {
    margin: 0vh 2vh;
  }

  .footer,
  #contact .container .row {
    flex-direction: column;
  }
  #contact .container .row {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact-right {
    width: 40vh;
  }
  .contact-mid,
  .contact-left {
    padding: 2vh;
  }
  .arrow {
    display: none;
  }
  #contact p,
  #contact h1 {
    text-align: center;
  }
  .social-icons {
    align-items: center;
    justify-content: center;
  }
  .type-container p {
    text-align: center;
  }
  .head-contain h1 {
    font-size: 60px;
    line-height: 1.3;
  }
  .header-text h1 span {
    font-size: 60px;
  }
  .icons-contain {
    display: none;
  }
}

/* decreasing the size of home page image */
@media (max-width: 600px) {
  html,
  body {
    max-width: 100vw;
  }
  .child {
    padding: 10vh 6vh;
  }
  .infinite-contain > * {
    max-width: 100%; /* Prevents any child from exceeding the container's width */
    box-sizing: border-box; /* Includes padding and border in the element's total width */
  }
  .infinite-contain {
    position: relative;
  }
  .current-contain a {
    grid-auto-flow: row;
  }
  h1 {
    font-size: 60px;
  }
  .subsub-title,
  .subsub-title span {
    font-size: 40px;
  }

  .overview .text-contain .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .overview .text-contain .row .column {
    flex-basis: 50%;
  }

  .type-container {
    margin-bottom: 0vh;
  }

  .avatar2 img {
    height: 500px;
    margin: auto;
  }
  #header {
    height: 100vh;
  }
  .work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
  }

  .head-contain {
    padding: 10vh 5vh 0vh 5vh;
  }

  .head-contain {
    padding: 0;
  }
  .container {
    padding: 2vh 5vh;
  }
}

/* smallest screen size on mac */
@media (max-width: 500px) {
  #header {
    background-image: none;
    overflow-x: hidden;
  }
  .btn {
    padding: 17px 18px;
  }

  #column-contain {
    flex-wrap: wrap;
  }
  .avatar2 img {
    height: 480px;
    margin-left: -50px;
  }
  about-col-1 {
    height: 70vh;
    padding: 0;
    margin-left: 0;
  }
  .cool-container .column-contain {
    padding: 0;
  }

  .about-col-2 {
    padding: 0;
  }
  #about {
    padding: 5vh 0;
  }

  .about-col-1 img {
    width: 45vh;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .subp {
    font-size: 18px;
  }
  /* contact */
  .contact-right {
    max-width: 80vh;
  }
  .footer .subp {
    font-size: 18px;
    order: 2;
  }
  .row {
    padding: 0;
  }

  .section {
    padding: 0 10vh;
  }
  .container {
    padding: 5vh;
  }
  #grid-container4 {
    grid-template-columns: repeat(1, 1fr);
  }
  .cool-container {
    padding: 3vh 5vh;
  }
  .infinite-cards {
    animation: scroll 20s linear infinite;
  }
}

/* iphone xr */
@media (max-width: 430px) {
  .work-image {
    height: 30vh;
  }
  .contact-contain {
    flex-wrap: wrap;
  }
  .favContain i {
    display: none;
  }
  .callout-p {
    font-size: 18px;
  }
  .arrowContain {
    display: none;
  }
  .work-contain {
    width: 100%;
  }
  h2 {
    font-size: 24px;
    font-family: var(--secfont);
    font-weight: 400;
  }
  #header {
    padding: 0 5vw;
  }
  .type-container,
  .bottom-header-text {
    font-size: 48px;
  }
  p {
    font-size: 18px;
  }
  .work-image {
    height: 50vh;
  }
  .tag p {
    font-size: 14px;
  }
  .head-contain h1,
  .head-contain h1 span {
    font-size: 45px;
    line-height: 55px;
  }

  h1 {
    font-size: 40px;
  }
  .container {
    padding: 2vh 0;
  }
  .callout-h {
    font-size: 30px;
  }
  .section-header .emoji-contain {
    padding: 5vh;
  }
  .section-header h1 {
    margin-bottom: 5vh;
  }
  .solid-contain {
    padding: 8vh 0;
  }
  .section-header .emoji-contain h1 {
    font-size: 40px;
  }

  .nav-container a img {
    width: 180px;
  }
  .avatar2 img {
    margin-left: -20px;
    width: 326px;
    margin-top: -11px;
  }
  .type-container {
    margin-bottom: 0;
  }
  #motto img {
    width: 142vw;
  }
}

/* hobbies page */
#hobbies {
  display: flex;
  align-items: center;
  justify-content: center;
}
#hobbies .section-header {
  margin-top: 5vw;
}
#hobbies .section-header h1,
#hobbies .section-header p {
  text-align: center;
}
#hobbies .hobby-contain .subp p {
  color: #454a67;
}

.hobbies-contain {
  min-height: 100vh;
  margin-bottom: 5vw;
}
.hobbies-contain .pins-contain {
  width: 400px;
  height: auto;
  margin: 1.5vw;
}
.hobbies-contain .pins-contain h2,
.hobbies-contain .pins-contain p {
  margin: 2vw 0;
  font-family: var(--textfont);
}
.hobbies-contain .subp {
  font-weight: normal;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  line-height: 27px;
}
.hobbies-contain .pins-contain p {
  font-size: 18px;
}
.hobbies-contain .column {
  justify-content: flex-start;
}
.hobbies-contain .pins-contain img {
  border-radius: 15px;
  max-width: 100%;
  max-height: 100%;
}
.hobbies-contain .row {
  flex-wrap: wrap;
}

/* play */
/* popup modal */
.modal {
  position: fixed;
  overflow: none;
  width: 100vw;
  height: 100%;
  top: 0;
  display: grid;
  place-content: center;
  z-index: 105550;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
}
.modal-content {
  background-color: #101010;
  border-radius: 50px;
  padding: 10vw 10vh;
  margin: 0;
  top: 10vh;
  width: 800px;
  max-width: 80vw;
  height: 80%;
  overflow-y: scroll;
  border: 6px solid rgba(255, 255, 255, 0.2);
}
#modalBtn:hover {
  cursor: pointer;
}

#closeModal {
  color: rgba(255, 255, 255, 0.5);
}

.closeModal:hover,
.closeModal:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
#fashion .row,
#volunteering .row {
  margin-top: 10vh;
  justify-content: space-between;
}
#fashion .work-contain,
#volunteering .work-contain {
  flex-basis: 45%;
}
.play-image {
  border-radius: 50px;
  height: 20em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vw;
  overflow: hidden;
}
.play-image img {
  width: 100%;
  object-fit: cover; /*means image is cropped*/
  height: auto;
  transition: width 1s ease;
}
.play-image img:hover {
  width: 105%;
}

/* overlay */
.art-contain {
  position: relative;
}
.art-contain img {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  background-color: rgb(16, 16, 16, 0.5);
  top: 0;
  bottom: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2vh;
}
.art-contain:hover .overlay {
  opacity: 1;
  cursor: pointer;
}
.overlay p {
  text-align: center;
  color: #fff;
}

/* table of contents */
.TOC {
  padding: 4vh 8vh;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.05);
}
.TOC .row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.TOC .row a,
.TOC .subsubsub-title {
  margin-right: 5vh;
}
.TOC a p {
  font-size: 30px;
  font-weight: bold;
  color: rgb(255, 255, 255, 0.5);
}
.TOC a p:hover {
  color: var(--prim);
}
/* target users */
.main-content-container {
  display: flex;
}
.main-content-container .row .column {
  width: 50%;
  align-items: flex-start;
}

.main-content-container .row {
  align-items: flex-start;
  display: flex;
}
ol {
  padding-left: 4em;
}
/* memories */
.memories-contain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40vh;
  margin: 40vh 0;
}
.memories {
  display: grid;
  place-content: center;
  justify-items: center;
}
.memories h3,
.memories p {
  text-align: center;
  width: 30vw;
  line-height: 150%;
}
.memories img {
  width: 100%;
  margin-top: -15vh;
}
